# Maintainer: ezhai

pkgname=nautilus-avinfo
pkgver={{ version }}
pkgrel={{ release }}
pkgdesc='Nautilus extension for displaying audio and video info'
url="https://github.com/ezhai/nautilus-avinfo"
arch=("i686" "x86_64" "aarch64")
license=('GPL-3.0')
options=('!debug')
source=("https://github.com/ezhai/nautilus-avinfo/archive/${pkgver}/${pkgname}-${pkgver}.tar.gz")
makedepends=('meson' 'libnautilus-extension' 'python' 'python-jinja')
depends=('nautilus>=43' 'gnome-desktop' 'ffmpeg')
sha256sums=('SKIP')

build() {
    cd "${srcdir}/${pkgname}-${pkgver}"

    meson setup build
    meson compile -C build
}

package() {
    cd "${srcdir}/${pkgname}-${pkgver}"

    meson install -C build --destdir "${pkgdir}"
}

post_upgrade() {
    nautilus -q
}
